<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Folium Map</title>
</head>
<body>
    <h1><center>Interactive map 🌏</center></h1>
    <iframe class="map", src="/map" width="1400" height="600"></iframe>
    <h3><b style="background-color: lightcoral; color: lightcyan;">
       <! -- you can write stuff here -->
    </b></h3>
</body>
</html>
